# Virtual environment
sign/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# System files
.DS_Store
Thumbs.db

# Jupyter/IPython checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode
